.App {
  text-align: center;
  background-image: url("binarybackground.jpg");
  background-size: cover;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.textbox {
  width: 560px;
  margin-right: 14px;
  margin-top: 0.5rem;
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;  
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-left: 150px;
}

.square {
  float:left;
  background: #fff;
  border: 1px solid #999;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 25px;
}

.resetButton {
  margin-left: 80px;
  margin-top: 25px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}
.resetButton:hover {
  background-color: skyblue;
  border: none;
}